html {
  height: 100vh;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 70%;
  padding: 100px;
  margin: 30px;
  border-radius: 80px;
}
.main_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 70vh;
  padding: 100px;
  margin: 30px;
  border-radius: 80px;
}

body {
  background-image: url("../public/background.png");
  background-size: 100%;
}
